body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.title{
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 10px;
  
}

.search-container input {
  height: 30px;
  width: 280px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px 0 0 10px;
}

.search-container button {
  padding: 5px 10px;
  height: 30px;
  width: 80px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

main {
  padding: 20px;
}

.current-weather {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.details h3 {
  margin: 0;
}

.favorites {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.favorites ul {
  list-style-type: none;
  padding: 0;
}

.favorites li {
  cursor: pointer;
  padding: 5px;
}

.favorites li:hover {
  background-color: #f2f2f2;
}

.clear-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.weather-info,
.favorites li {
  animation: fadeIn 0.5s ease-in-out;
}

#on-error{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  animation: fadeIn 0.5s ease-in-out forwards;
}